* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", Fallback, sans-serif;
    font-weight: 600;
}
  
html, body {
    height: 100%;
    width: 100%;
    min-height: 620px;
    display: flex;
    flex-direction: column;
}
  
li, a {
    list-style: none;
    text-decoration: none;
}
  