* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", Fallback, sans-serif;
  font-weight: 600;
  color: var(--very-dark-gray);
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 620px;
  display: flex;
  flex-direction: column;
}

body {
  background: linear-gradient(to top, #2a5298 0%, #2a5298 1%, #2a5298 100%);
  align-items: center;
}

.header {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding: 15px;
  max-width: 550px;
  border: solid 3px rgb(209, 205, 205);
  border-radius: 7px;
}

.title {
  z-index: 2;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: white;
  word-spacing: 100vw;
  line-height: 20px;
  margin: 0 15px;
  flex: 1;
}

.score-board {
  z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 90px;
    width: 100px;
    overflow: hidden;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

span {
  font-size: 56px;
  font-weight: 700;
  line-height: 50px;
}

.content {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
}

.pick-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  transform: scale(0.6);
}

.pick-title--player {
  transform: translate(-150px, 40px);
}

.pick-title {
  position: absolute;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  opacity: 0;
  text-shadow: 1px 1px 5px black;
}

.pick-title--cp {
  transform: translate(150px, 40px);
}

.result-zone {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transform: translate(0, 160px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.result-zone > .title {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: white;
  margin: 10px;
  text-shadow: 1px 1px 5px black;
}

.result-zone > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 300px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  background-color: white;
  color: hsl(228, 25%, 31%);
  border-radius: 10px;
  box-shadow: 0px 1px 5px black;
  cursor: pointer;
}

#winner-aura {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
  transform: scale(0.1);
  opacity: 0;
  visibility: hidden;
}

#winner-aura:before {
  content: "";
  position: absolute;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
}

#winner-aura:after {
  content: "";
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.03);
}

#pick-bg {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s ease, height 0.3s ease, width 0.3s ease;
}

.badge > img {
  z-index: 2;
}

.badge:before {
  content: "";
  z-index: 1;
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0 8px rgb(0 0 0 / 10%);
}

#rock {
  background: red;
  transform: translate(0, 90px);
  transform-origin: center;
}

#paper {
  background: blue;
  transform: translate(-120px, -110px);
  transform-origin: center;
}

#scissors {
  background: orange;
  transform: translate(120px, -110px);
  transform-origin: center;
}

#cp-rock, #cp-paper, #cp-scissors {
  opacity: 0;
  visibility: hidden;
  transform: translate(150px, -135px) scale(0.1);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.rules-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 140px;
  margin: 30px 30px 40px 30px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
}

#rules {
  z-index: 1;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.rules-bg {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.452);
}

.rules-modal {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  transform: scale(0.7);
}

.rules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.rules-header > div {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: hsl(228, 25%, 31%);
}

li, a {
  list-style: none;
  text-decoration: none;
}
