@import './global.css';
@import './header.css';
@import './content.css';
@import './rules.css';

body {
  align-items: center;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

body * {
  user-select: none;
}