* {
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #1e3c72 100%);
}

.logo-pontos {
    border: 2px solid rgb(130, 130, 130);
    border-radius: 5px;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.placar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#pontosJogador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#pontosCpu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.triangulo {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

.attribution { 
    color: white;
    font-size: 16px; text-align: center; 
}

.attribution a { 
    color: black; 
}